In [2]:
import pandas as pd

Cargar datos

In [3]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv("dataset_final.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df

#HAY 800 filas, pero numeros: 721, porque hay duplicados

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1) 
'''
print(len(df[df["Type 1"]== "Poison"]))

28

In [10]:
df[df["Type 1"]== "Poison"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
34,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False
35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
37,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
117,109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
118,110,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False
183,169,Crobat,Poison,Flying,535,85,90,80,70,80,130,2,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
346,317,Swalot,Poison,NaN,467,100,73,83,73,83,55,3,False
368,336,Seviper,Poison,NaN,458,73,100,60,100,60,65,3,False
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
483,435,Skuntank,Poison,Dark,479,103,93,67,71,61,84,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
503,453,Croagunk,Poison,Fighting,300,48,61,40,61,40,50,4,False
504,454,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False
629,568,Trubbish,Poison,NaN,329,50,50,62,40,62,65,5,False
630,569,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False

In [26]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
tipos_diferentes = df.groupby("Type 1")["Name"].count()
print(len(tipos_diferentes))

#son 18 tipos distintos

18

In [32]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
tipos_diferentes

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)  WATER
'''

tipo_con_mas_pokemones = tipos_diferentes.sort_values(ascending=False)
print(tipo_con_mas_pokemones)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [38]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
#df.describe(), me va a dar el numero maximo en la columna Speed, para poder usarlo en la variable siguiente:
df.describe()

pokemon_mas_rapido = df[df["Speed"]>=180]

#cuando tengo el pokemon, lo busco por el nombre.
print(pokemon_mas_rapido["Name"])

431    DeoxysSpeed Forme
Name: Name, dtype: object

In [132]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?  123
'''
print(len(df[df["Defense"] > 100]))

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

123

'\n4.1 ¿Cuántos pokemon tiene una defensa superior a 100?\n'

In [40]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
defensa_mayor_100 = df["Defense"] > 100
velocidad_mayor_100 = df["Speed"] > 100
pokemon_dv = df[defensa_mayor_100 & velocidad_mayor_100]
print(len(pokemon_dv))

9

In [43]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(["Type 1", "Type 2"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [129]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
#primero selecciono los tipo "Water" y "Fire", y luego los ordeno 
df[(df["Type 1"] == "Water")|(df["Type 1"] == "Fire")].sort_values("Type 1")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,259,Marshtomp,Water,Ground,405,70,85,70,60,70,50,3,False
280,258,Mudkip,Water,NaN,310,50,70,50,50,50,40,3,False
94,87,Dewgong,Water,Ice,475,90,70,80,70,95,70,1,False
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
295,272,Ludicolo,Water,Grass,480,80,70,70,90,100,70,3,False

In [113]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
df_legendary = df[df["Legendary"] == True]
df_legendary.sort_values("Name")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
539,482,Azelf,Psychic,NaN,580,75,125,70,125,70,115,4,True
699,638,Cobalion,Steel,Fighting,580,91,90,129,90,72,108,5,True
549,491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [127]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
data_set_porcentaje_legendary = df.groupby("Legendary")["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"].sum() / df.groupby("Legendary")["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"].count() 

data_set_porcentaje_legendary

/var/folders/k2/wb_h5cws23b5kptxrh275tcr0000gn/T/ipykernel_20706/1716883800.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_set_porcentaje_legendary = df.groupby("Legendary")["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"].sum() / df.groupby("Legendary")["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"].count()
/var/folders/k2/wb_h5cws23b5kptxrh275tcr0000gn/T/ipykernel_20706/1716883800.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_set_porcentaje_legendary = df.groupby("Legendary")["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"].sum() / df.groupby("Legendary")["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"].count()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,,,,,,
False,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782
True,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615

In [138]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
legendary = pd.DataFrame(data_set_porcentaje_legendary)
legendary

#otra manera de hacerlo:
porcentaje = [[67, 75, 71, 68, 69, 65],[92, 116, 99,122, 105, 100]]
legendary2 = pd.DataFrame(porcentaje, columns = ["HP", "Attack", "Defense", "Sp. Atk","Sp. Def", "Speed"], index = ["No Legendary", "Legendary"])

legendary2

              HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
No Legendary  67      75       71       68       69     65
Legendary     92     116       99      122      105    100

In [252]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
#como se si tiene dos tipos?
# el #numero en df["#"] esta dos veces.
#con keep=false te pone todos los duplicados, y no desde el primero=True (keep="last") o el ultimo (Keep="first")

df["Doble_tipo"] = df["#"].duplicated(keep=False)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble_tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,False

In [255]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df_dos_tipos = df[df["Doble_tipo"] == True]

df_dos_tipos[["Type 1", "Type 2", "Name"]]

      Type 1  Type 2                       Name
2      Grass  Poison                   Venusaur
3      Grass  Poison      VenusaurMega Venusaur
6       Fire  Flying                  Charizard
7       Fire  Dragon  CharizardMega Charizard X
8       Fire  Flying  CharizardMega Charizard Y
..       ...     ...                        ...
787    Ghost   Grass        GourgeistSuper Size
795     Rock   Fairy                    Diancie
796     Rock   Fairy        DiancieMega Diancie
797  Psychic   Ghost        HoopaHoopa Confined
798  Psychic    Dark         HoopaHoopa Unbound

[144 rows x 3 columns]

In [279]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
lista_articulos = pd.Series(articulos)
lista_compra = lista_articulos[compra]

print(lista_compra)

def precio_total(lista_compra):
    suma = lambda x, y: x + y
    total = reduce(suma, lista_compra)
    print("El precio total es: ", total)

# B. Una función que calcule el precio total de la compra con un descuento del 10%

def precio_total_descuento_10(lista_compra):
    total = reduce(lambda x,y: x+y, lista_compra) * 0.9
    print("El precio total con un 10% de descuento es: ", total)

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def descuento_si_mas_de_100(lista_compra):
    total = reduce(lambda x,y: x+y, lista_compra)
    if total > 100:
        total *= 0.9
        print("El precio total con un 10% de descuento es: ", total)
    else:
        print("El precio total es: ", total)


# D. Una función que calcule el precio total aplicando el IVA (21%)
def aplica_IVA(lista_compra):
    total_mas_IVA = round(reduce(lambda x,y: x+y, lista_compra) * 1.21, 2)
    print("El total de la compra con un IVA del 21% es: ", total_mas_IVA)


# E.lista los artículos cuyo precio es superior a 20€
articulos_mayores_20 = lista_articulos[lista_articulos > 20]
articulos_mayores_20

Camisa      20
Pantalón    30
Pantalón    30
Gorra       10
Gafas       25
Corbata     40
dtype: int64

Pantalón    30
Zapatos     50
Gafas       25
Reloj       35
Corbata     40
dtype: int64

In [594]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

#lo tranformo en un dataframe
lista_alumnos= pd.DataFrame(alumnos, columns=["Nombre", "Apellido", "Curso", "Notas"])


def prom_alumnos_curso(curso):
    
    #itero la lista de tuplas, y transformo las notas en sus promedios.
    lista_1 = [] 
    for indice, item in enumerate(alumnos):
        prom = reduce(lambda x,y: x+y, item[3])/len(item[3])
        lista_1.append(prom)
    lista_alumnos["Notas"] = lista_1
    
    #hago un dataframe nuevo por cada curso
    curso_1 = lista_alumnos[lista_alumnos["Curso"] == "1"]
    curso_2 = lista_alumnos[lista_alumnos["Curso"] == "2"]

    #le digo que hacer, segun el curso que se elige
    if curso == 1:
        print(curso_1[["Nombre", "Apellido", "Notas"]])
    elif curso == 2:
        print(curso_2[["Nombre", "Apellido", "Notas"]])

#pruebo la funcion
print(prom_alumnos_curso(2))

    Nombre   Apellido  Notas
1      Ana     García    7.0
3    María   Martínez    7.0
5    Lucía  Hernández    7.0
7     Sara       Díaz    7.0
9   Miguel  Fernández    7.0
11  Sandra       Ruiz    7.0
13   María      Gómez    7.0
None